<header class="main-header">
    <div class="nav-label">
        <label>Nintendo</label>
        <div class="nav-SignIn">
            Sign In
        </div>
        <div class="nav-SignOut">
            Sign Out
        </div>
        <div class="nav-Product">
            Product
        </div>
        <div class="nav-Cart">
    <div class="header">
        <label>Nintendo</label>
        <div>
            Sign In
        </div>
        <div>
            Sign Out
        </div>
        <div>
            Product
        </div>
        <div>
            Cart
        </div>
    </div>